@import '~antd/dist/antd.css';

.sssds{
    border-radius: 5rem;
    /*transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    */transition: visibility 1s , opacity 0.5s ease-in-out;

}

.login{
    margin-left: 30%;
    margin-top: 100px;
}

.register{
    margin-left: 30%;
    margin-top: 100px;
}

.inputBox{
    padding: 7px;
    display: block;
    border: 1px solid skyblue;
    width: 300px;
    margin: 20px;
}
